# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
build/
generated_plugin_registrant.dart

# Flutter environment
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.flutter-*
.version

# IDEs
.idea/
*.iml

# Android/Gradle
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
*.keystore

# Xcode/iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.flutter-plugins
ios/.flutter-plugins-dependencies
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig

# VS Code
.vscode/

# Linux, macOS, Windows
linux/
macos/
windows/

# Web build
web/build/
build/

# Logs, OS files
*.log
*.lock
.DS_Store
*.swp
